---
import BaseLayout from "./layouts/BaseLayout.astro";
---

<BaseLayout
    ><div class="body">
        <div class="radial-menu">
            <div class="center-circle"></div>
            <div class="menu-items">
                <div class="menu-item"><span>Signages</span></div>
                <div class="menu-item"><span>Horology.</span></div>
                <div class="menu-item"><span>Ideas</span></div>
                <div class="menu-item"><span>Freelance</span></div>
                <div class="menu-item"><span>Corporate</span></div>
                <div class="menu-item"><span>Wood</span></div>
                <div class="menu-item"><span>Paper</span></div>
                <div class="menu-item"><span>Glass</span></div>
            </div>
        </div>
    </div>
</BaseLayout>
