---
import BaseLayout from "./layouts/BaseLayout.astro";
---

<head>
    <title>
        Visual Designer | Real Estate Branding Expert | Aryaman Kaushik
        Portfolio
    </title>
    <meta
        name="description"
        content="Explore Aryaman Kaushik's Visual Designer Portfolio, showcasing luxury real estate branding, product design, and creative projects. India-based freelance designer trained in Florence, Italy."
    />
    <meta
        name="keywords"
        content="Visual Designer Portfolio, Graphic Designer Portfolio India, Freelance Designer India, Luxury Real Estate Branding, Product Packaging Design, Creative Project Gallery, Graphic Designer in Pune"
    />
    <meta name="author" content="Aryaman Kaushik" />
    <meta name="robots" content="index, follow" />
    <meta
        property="og:title"
        content="Aryaman Kaushik | Visual Designer Portfolio"
    />
    <meta
        property="og:description"
        content="Discover Aryaman Kaushik's portfolio featuring luxury real estate branding, product design, and visual storytelling. India-based freelance designer."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.aryamankaushik.com" />

    <BaseLayout>
        <h1>Aryamankaushik.com</h1>
        <div class="body">
            <div class="radial-menu">
                <div class="center-circle"></div>
                <div class="menu-items">
                    <div class="menu-item">
                        <span
                            ><a href="/projects/aura-table">Aura Table</a></span
                        >
                    </div>
                    <div class="menu-item">
                        <span
                            ><a href="/projects/life-calendar">Life Calendar</a
                            ></span
                        >
                    </div>
                    <div class="menu-item">
                        <span><a href="/projects/mandw-1">M&W 1.0</a></span>
                    </div>
                    <div class="menu-item">
                        <span><a href="/projects/mandw-2">M&W 2.0</a></span>
                    </div>
                    <div class="menu-item">
                        <span
                            ><a href="/projects/oliva-olio">Oliva Olio</a></span
                        >
                    </div>
                    <div class="menu-item">
                        <span
                            ><a href="/projects/spaceman-cup">Spaceman Cup</a
                            ></span
                        >
                    </div>
                    <div class="menu-item">
                        <span><a href="/projects/tyme">Tyme</a></span>
                    </div>
                    <div class="menu-item">
                        <span><a href="/projects/">Corporate</a></span>
                    </div>
                </div>
            </div>
        </div>
    </BaseLayout>
</head>
