---
import BaseProjectLayout from "../layouts/BaseProjectLayout.astro";
---

<BaseProjectLayout>
    <div class="content-grid project__container">
        <p class="project__topper">Corporate</p>

        <h1 class="project__title">Our Corporate Projects</h1>
        <p class="project__description" '>All corporate projects</p>
        <div class="project__side-container">
            <img src={"https://placehold.co/600x400"} alt="" />
            <div class="info-block">
                <p>
                    A table that provides varying moods based on light alone.
                    <br />
                    The adjustable light bar when slightly raised offers ambient
                    lighting perfect for a more casual vibe while hosting parties
                    or late-night conversations.
                </p>
            </div>
            <img
                layout="constrained"
                class="project__image-1"
                src={"https://placehold.co/600x400"}
                alt="Alt"
            />
        </div>
        <div class="sidebyside">
            <img
                class="project__image-1"
                src={"https://placehold.co/600x400"}
                alt="Alt"
            />

            <img
                class="project__image-1"
                src={"https://placehold.co/600x400"}
                alt="Alt"
            />
        </div>
        <div class="info-block">
            <p>
                As the bar is raised higher, it provides a more functional
                amount of light, turning the workspace into a well-lit area to
                work on.
            </p>
        </div>
        <img
            class="project__image-1"
            src={"https://placehold.co/600x400"}
            alt="Alt"
        />

        <div class="info-block">
            <p>
                The inspiration for the Aura table was drawn from common study
                areas in libraries, where lighting arrangements provide ample
                downward light without being intrusive.
            </p>
        </div>
        <img
            class="project__image-1"
            src={"https://placehold.co/600x400"}
            alt="Alt"
        />

        <div class="info-block">
            <p>
                The table’s adjustable lighting system offers flexibility,
                accommodating diverse range of situations.
            </p>
        </div>
        <img
            class="project__image-1"
            src={"https://placehold.co/600x400"}
            alt="Alt"
        />

        <img
            class="project__image-1"
            src={"https://placehold.co/600x400"}
            alt="Alt"
        />

        <div class="sidebyside">
            <img
                class="project__image-1"
                src={"https://placehold.co/600x400"}
                alt="Alt"
            />
            <img
                class="project__image-1"
                src={"https://placehold.co/600x400"}
                alt="Alt"
            />
        </div>
        <div class="info-block">
            <p>
                A high-quality hardwood or engineered composite version for the
                tabletop with integrated aluminum channels and concealed wiring
                for the lighting.
            </p>
        </div>
        <img
            class="project__image-1"
            src={"https://placehold.co/600x400"}
            alt="Alt"
        />
    </div>
</BaseProjectLayout>
