---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../../scss/pages/projects/all-projects.scss";
---

<BaseLayout>
    <div class="container">
        <h1>All projects</h1>
        <ol>
            <li>
                <a href="./aura-table">Aura Table</a>
            </li>
            <li>
                <a href="./life-calendar">Life Calendar</a>
            </li><li>
                <a href="./mandw-1">M&W 1.0</a>
            </li><li>
                <a href="./mandw-2">M&W 2.0</a>
            </li><li>
                <a href="./oliva-olio">Oliva Olio</a>
            </li><li>
                <a href="./spaceman-cup">Spaceman Cup</a>
            </li><li>
                <a href="./tyme">Tyme</a>
            </li>
        </ol>
    </div>
</BaseLayout>
